@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: ghostwhite;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}

.arrow_left, .arrow_right{
    font-size: 4rem;
    color : white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.300);
    cursor: pointer;
}

.headline{
    width: 100vw;
    height: auto;
    padding: 40px 10%;
}

.headline img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.headline p{
    text-align: justify;
}

.cardContainer{
    width: 80vw;
    height: auto;
    padding: 0 1%;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    overflow-x: scroll;
}

.slider{
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    
}

.card{
    width: 300px;
    height: auto;
    padding: 10px;
    margin-right: 1%;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.300);
    border-radius: 10px;
    transition-duration: .3s;
}

.card:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.300);
}


.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition-duration: .5s;

}

.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.menuContainer{
    width: 99vw;
    overflow-x: scroll;
    scrollbar-base-color: none;
    scrollbar-arrow-color: white;
}

.menu{
    list-style-type: none;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200vw;
    padding: 0 40px;
}